
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}



/* ___________________________HEADER (CABEÇALHO)___________________________________*/

#cabeçalho {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 13px;
}

#sistok_logo {
    margin-left: 20px;
    height: 38px;
    margin-left: 60px;
}

#conbtn {
    margin-left: 105px;
}

.btn5s {
    background-color: white;
    width: 80px;
    margin-right: 5px;
    font-size: 15px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}


#singin {
    background-color: white;
    border: none;
    font-size: 16px; 
    margin-left: 100px;
    transition-duration: 0.1s;
    cursor: pointer;
}

#enter {
    margin-left: 130px;
    border: 1px solid #304F8C;
    border-radius: 6px;
    height: 32px;
    width: 150px;
    background-color: white;
    transition-duration: 0,1s;
    cursor: pointer
}

#enter:hover {
    background-color: #2F4E8B;
    color: white;
}

main {

    
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 40px;

}

/* ___________________________SEÇÂO 01___________________________________*/

#section1 {

    
}

#subsection11 {
    display: flex;
    flex-direction: row;
}

#textleft {
    padding-top: 70px ;

}

#sideimg {
    margin-left: 290px;
}

#textleft > h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

#textleft > h2 {
    width: 500px;
    
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}

#btncnh {
    background-color: #304F8C;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition-duration: 0,2s;
}

#btncnh:hover {
    background-color: #0e2147;

}

#subsection12 {
    padding-top: 55px;
}

#sectorbotton {
    display: flex;
    justify-content: center;

}

.imgcube {
    margin: 30px;
}


/* ___________________________SEÇÂO 02___________________________________*/



#section2 {
    margin-top: 90px;
    margin-bottom: 20px;
}

#subsection21 {
    margin-bottom: 20px;
    width: 800px;
}

#subsection21 > h1 {
    font-size: 20px;
    color: #4C5D73;
    margin-bottom: 12px;
}

#subsection21 > h2 {
    font-size: 30px;
    
}

#subsection22 {
    margin-top: 75px;
    display: flex;
    justify-content: center;

}


/* ___________________________SEÇÂO 03___________________________________*/


#section3 {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

#subsection31{
    
}

#subsection32 {
    display: flex;
    flex-direction: row;
}

#subsection31 > h1 {
    color:#4C5D73;
    font-size: 20px;
}

#subsection31 > h2 {
    margin-top: 12px;
    font-size: 30px;
}



#subsection32{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

#rightimg {
    width: 300px;
    margin-top: 25px;
    margin-right: 95px;
}

#textleft {
    width: 60%;

}


#textleft > h1 {
    color:#4C5D73;
    font-size: 18px;
}

#textleft > h2 {
    color:#4C5D73;
    font-size: 18px;
}

#textleft > h3 {
    color:#4C5D73;
    font-size: 18px;
    font-weight: 400;
    margin-top: -8px;
}

#btncase {
    border: 1px solid #304F8C;
    border-radius: 6px;
    background-color: white;
    color: #304F8C;
    font-size: 15px;
    width: 235px;
    height: 30px;
    margin-top: 70px;
    cursor: pointer;
    transition-duration: 0,1s;
}


#btncase:hover { background-color: #2F4E8B; color: white;}


/* ______________________SEÇÂO 04___________________________________*/

#section4 {
    margin-bottom: 50px;
}

#subsection41 {}

#subsection41 > h1 {
    color:#4C5D73;
    font-size: 20px;
}

#subsection41 > h2 {
    margin-top: 12px;
    font-size: 30px;
}

#subsection42 {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.atuaimg {
    margin-left: 40px;
    margin-right: 40px;
}

/* _____________SEÇÂO 05___________________________________*/

#section5 {

}

#subsection51 {

}

#subsection51 > h1{
    color:#4C5D73;
    font-size: 20px;
}

#subsection51 > h2{
    margin-top: 12px;
    font-size: 30px;
}

#subsection52 {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: -60px;
}

.chooseplan {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-right: 40px;
    
    border-radius: 10px;
}

.modo {
    font-size: 15px;
    font-weight: 500;
}

.preço {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.preço > h1 {
    font-weight: 800;
    font-size: 30px;
}

.preço > h2 {
    font-weight: 300;
    font-size: 15px;
}

.conteudo {
    font-size: 13px;
    color: #4C5D73;
    margin-bottom: 40px;
}

#planpop {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 330px;
    height: 260px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -30px;
    background-color: #304F8C;
    border-radius: 10px;
}

#pop {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #94F2E9;
    height: 40px;
    width: 150px;
    border-radius: 30px;
    margin-top: -23px;
    margin-left: 40px;
}

#pop > h1 { font-size: 14px; color: #2F4E8B; }

#planpop > h2 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    font-weight: 200;
}

#poppreço {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

#poppreço >h1 { font-weight: 800;
    font-size: 30px;}

#poppreço >h2 { font-weight: 300;
    font-size: 15px; }

#popconteudo { font-size: 13px;
    color: white;
    font-weight: 200;
    margin-bottom: 40px;
}


.btnescolha {
    border: 1px solid #2F4E8B;
    border-radius: 6px;
    background-color: white;
    color: #2F4E8B;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    width: 200px;
    margin-left: 12px;
    transition-duration: 0,2s;
    cursor: pointer;

}

#btnpop {
    border: 1px solid #2F4E8B;
    border-radius: 6px;
    background-color: white;
    color: #2F4E8B;
    font-size: 13px;
    font-weight: 600;
    height: 40px;
    width: 200px;
    margin-left: 12px;
    transition-duration: 0,2s;
    cursor: pointer;

 }

 #btnpop:hover { 
    background-color: #0a1b3d;
    color: white;
 }

.btnescolha:hover {
    background-color: #2F4E8B;
    color: white;
} 


/*_______________________ RODAPÉ__________________________________ */

#foot {
    height: 50vh;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: top;
    background-color: black;
    padding: 70px;
  }
  
  .liks {
    height: 100px;
    width: 300px;
    margin-top: -200px ;
    display: flex; 
    flex-direction: column;
    font-size: 10px;
    color: white;
  
  } 

  .liks > h1 {
      font-size: 25px;
      margin-bottom: 20px;
  }
  
  .likfoot {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-size: 15px;
    margin-left: -5px;
  }  

  #news {
  
    height: 100px;
    margin-top: -200px ;
  }
  
  label {
      
      margin-left: 5px;
      color: white;  
  }
   
  #news > h1 {
    color: white;
    font-size: 25px ;
  }

  #homem {
      display: flex;
      justify-content: flex-end;
      margin-right: 300px;
      margin-top: 100px;
      margin-bottom: 100px;
  }