@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#cabeçalho {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 13px;
}

#sistok_logo {
    margin-left: 20px;
    height: 38px;
    margin-left: 60px;
}

#conbtn {
    margin-left: 105px;
}

.btn5s {
    background-color: white;
    width: 80px;
    margin-right: 5px;
    font-size: 15px;
    border: none;
    letter-spacing: 1px;
}

#singin {
    background-color: white;
    border: none;
    font-size: 16px; 
    margin-left: 100px;
    transition-duration: 0.1s;
}

#enter {
    margin-left: 130px;
    border: 1px solid #304F8C;
    border-radius: 6px;
    height: 32px;
    width: 150px;
    background-color: white;
    transition-duration: 0,1s;
}

main {

    
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 40px;

}

#section1 {

    
}

#subsection1 {
    display: flex;
    flex-direction: row;
}

#textleft {
    padding-top: 70px ;

}

#sideimg {
    margin-left: 415px;
}

#textleft > h1 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 35px;
}

#textleft > h2 {
    width: 500px;
    
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 40px;
}

#btncnh {
    background-color: #304F8C;
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 220px;
    height: 40px;
    border: none;
    border-radius: 6px;

}

#subsection2 {
    padding-top: 55px;
}

#sectorbotton {
    display: flex;
    justify-content: center;

}

.imgcube {
    margin: 30px;
}


#section2 {
    display: flex;
    flex-direction: column;
}

#subsection21{
    border: 2px solid red;
}

#subsection22 {
    display: flex;
    flex-direction: row;
}



#section3 {}

#section4 {}